.header {
  text-align: center;

}
img{
visibility: hidden;
}
h3{
  font-size: 500%;
  color: hotpink;
}
h2{
color: blue;
}
h1{
color: hotpink;
}
.row{
  color: red;
  font-size: 150%;
}
#pig-button{
width: 200px;
height: 200px;

}
  body {
    padding: 10%;
    margin: 0;
    user-select: none;
    background-color: pink
  }
  table {
    margin: 5% auto;
    padding: 0;
    width: 1in;
    height: 1in;
    max-height: 2in;
    max-width: 2in;
    border-collapse: collapse;
    transform: rotate(0deg);
    position: relative;
    top: 0vh;
    transition: top 0.15s ease;
    user-select: none;
  }
  tr {
    text-align: center;
    vertical-align: middle;
    user-select: none;
  }
  td {
    width: 33%;
    height: 33%;
    padding: 5%;
    user-select: none;
  }
  .twist {
    position: relative;
    top: -2vh;
    transform: rotate(180deg);
    transition: transform 0.3s ease,
          top 0.15s ease;
  }
  .circle {
    border-radius: 50%;
    background-color: hotpink;
    height: 100%;
    user-select: none;
  }
  .center {
    background: linear-gradient(to top, #1194d6, #8ce7f8);
    display: flex;
    align-items: center;
    height:1.5in;
    width:1.5in;
    user-select: none;
    margin: 20%;
  }
  .hide {
    visibility: hidden;
  }
